body{ 
    margin:0;
    padding: 20px;
    text-align: left;
    font-size: 14px;
    font-family: arial, helvetica;
    color: black;
    background-color: #ffffff;
    background-image: url(background-azul-mala-montreal-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 960px;
}

h1{ 
color: #8B0000;
background-repeat: no-repeat;
width: 400px;

} 

label{
display: inline-block;
width:150px;
} 